/* Link {
    font-size: 0.9rem;
}

Link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    /* space between links 
    transition: 0.3s;
}

Link:hover {
    background-color: #32C8ff;
    color: #000;
    padding: 4px;
} */