.site-footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding-bottom: 1%;
    font-family: 'Noto Sans Arabic', sans-serif;
}

#footer-gif img{
    width: 100%;
    object-fit: cover;
}

/* Social icons */
.footer-icons {
    margin-bottom: 1%;
}

.footer-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    margin: 0 8px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 1rem;
}

.footer-icons a:hover {
    background-color: #32C8ff;
    color: #000;
}

/* Project Name */
.footer-project {
    font-size: 1.2rem;
    font-weight: bold;
    color: #b9b8b8;
    margin-block: 1%;
}

/* Copyright */
.footer-copy {
    font-size: 0.9rem;
    margin-block: 1%;
    color: #b9b8b8;

}

/* Footer Links */
.footer-links {
    font-size: 0.9rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    /* space between links */
    transition: 0.3s;
}

.footer-links a:hover {
    background-color: #32C8ff;
    color: #000;
    padding: 4px;
}